@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #EDF2F8;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

.container {
    margin: 50px auto;
    max-width: 80%;
    height: auto;
}

.flexed {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 30px;
    margin: auto;
}

.left {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right {
    background-color: #fff;
    width: 100%;
    padding-left: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.h2{
    font-size: 1.5rem;
    line-height: 30px;
}

.author-info{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    line-height: 30px;
}
.profile{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    line-height: 30px;
}

.profile_img{
    width: 10%;
    border-radius: 50px;
}

.profile span{
    font-weight: 900;
}

.share{
    color: #fff;
}

.share-tooltip {
    position: absolute;
    bottom: 40px;
    right: 0;
    display: flex;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .share-tooltip::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 10px;
    border: 5px solid transparent;
    border-top-color: #333;
  }
  
  .social-icon {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background: #555;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
  }
  
  .social-icon.facebook {
    background: #3b5998;
  }
  
  .social-icon.twitter {
    background: #1da1f2;
  }
  
  .social-icon.pinterest {
    background: #e60023;
  }
  
  .share-tooltip span {
    font-size: 12px;
    font-weight: bold;
  }


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}